 <div class="container-fluid">
            <div class="row">
            <div class="col-md-8">
            <i class="fas fa-calendar-alt"></i>
            <h4> <%= @event[:date]%></h4>
            </div>
            <div class="col-md-4">
                <h4> When?</h4>
            </div>
            </div>

             <div class="row">
                <div class="col-md-8">
                    <h1> <%= @event[:title]%></h1>
                </div>
                 <div class="col-md-4">
                    <h5> <%= @event[:date]%></h5>
                </div>
             </div>
